.nobutton {
    border: none;
    appearance: none;
    background: transparent;
    box-shadow: none;
    color: var(--col-fg);
    padding: 0;

    &:hover {
        background: transparent;
        color: var(--col-accent2);
    }
}