:root {
    --font: 'Quicksand';
    --font-accent: 'Quicksand';
    --col-fg: #222;
    --animation-duration: 0.3s;   
    --body-width: 72rem;
    --narrow-width: 40rem;
    --animation-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* fix automatic theme color in safatri */
body {
    background-color: var(--col-bg3);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--col-bg);
    }
}

#__nuxt {
    width: calc(100% - 2rem);
    min-height: 100svh;
}

main {
    min-height: -webkit-fill-available;
    min-height: -moz-available;
}

[force-scheme="light"] {
    --col-fg: #222;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root:not([force-scheme="light"]) {
        --col-fg: #ddd;
        --col-accent2: #d9e8f5;
        color-scheme: dark;
    }
}

[force-scheme="dark"] {
    --col-fg: #ddd;
    color-scheme: dark;
}

:is(button) {
    display: grid;
    place-items: center;
    background-image: none; /* remove gradient */
    background-color: var(--col-accent);

    &:hover {
        background-color: var(--col-accent2);
    }
}

:is(svg) {
    fill: currentColor;
}

:disabled {
    opacity: 0.8;
}