:root {
    --font: 'Quicksand';
    --font-accent: 'Quicksand';
    --col-fg: #222;
    --animation-duration: 0.3s;   
    --body-width: 72rem;
}

[force-scheme="light"] {
    --col-fg: #222;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root:not([force-scheme="light"]) {
        --col-fg: #ddd;
        color-scheme: dark;
    }
}

[force-scheme="dark"] {
    --col-fg: #ddd;
    color-scheme: dark;
}

:is(button) {
    display: grid;
    place-items: center;
    background-image: none; /* remove gradient */
    background-color: var(--col-accent);
}

:is(svg) {
    fill: currentColor;
}

body:not(:has(#__nuxt, #__next)), :is(#__nuxt, #__next) > footer {
    margin-top: 0;
}