:root {
    --font: 'Quicksand';
    --font-accent: 'Quicksand';
    --col-fg: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-fg: #ddd;
    }
}

:is(button) {
    display: grid;
    place-items: center;
    background-image: none; /* remove gradient */
    background-color: var(--col-accent);
}

:is(svg) {
    fill: currentColor;
}

body:not(:has(#__nuxt, #__next)), :is(#__nuxt, #__next) > footer {
    margin-top: 0;
}